.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 10px 0;
  margin-bottom: 16px;
  border-bottom: 2px solid black;
}

.nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: white;
  background-color: orangered;
}
