/* .nav {
  display: flex;
  gap: 4px;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: orange;
} */
/* ========================================== */
/* .container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
} */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.nav {
  display: flex;
}

.logo {
  font-weight: 700;
  margin: 0;
}

.link {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.active {
  color: white;
  background-color: orangered;
}
